<div class="form">
    <div>
        <p class="error" ng-repeat="error in $ctrl.error.name">{{error}}</p>
    </div>
    <div>
        <label>
            Name

            <input ng-model="$ctrl.data.name" type="text"/>
        </label>
    </div>
    <div class="clear"></div>
    <div>
        <p class="error" ng-repeat="error in $ctrl.error.email">{{error}}</p>
    </div>
    <div>
        <label>
            Email
            <input ng-model="$ctrl.data.email" type="text" />
        </label>
    </div>
    <div class="clear"></div>
    <div>
        <p class="error" ng-repeat="error in $ctrl.error.password">{{error}}</p>
    </div>
    <div>
        <label>
            Password
            <input ng-model="$ctrl.data.password" type="password" />
        </label>
    </div>
    <div class="clear"></div>
    <div>
        <label>
            Confirm Password
            <input ng-model="$ctrl.data.password_confirmation" type="password" />
        </label>
    </div>
    <div class="clear"></div>
    <div>
        <button ng-click="$ctrl.submit()" type="submit">Signup</button>
    </div>
</div>