<div class="info-window">
    <div class="clearfix">
        <label>Event Name</label>
        <input class="title" />
    </div>
    <div class="clearfix">
        <label>Start Date</label>
        <input data-toggle="datepicker" class="date-picker" class="startDate" type="text"/>
    </div>
    <div class="clearfix">
        <label>End Date</label>
        <input data-toggle="datepicker" class="date-picker" class="endDate" type="text"/>
    </div>
    <button class="submit">Submit</button>
</div>
