.header{
  height: 50px;
  width: 100%;
  background-color: #ce8483;
}
.header-title{
  text-align: center;
  color: #777777;
  font-size: 25px;
}
button:focus{
  outline: 0;
}
.header-menu{
  background-color: #AEAEAE;
  color: #444444;
  min-height: 40px;
  margin: 5px;
  border-radius: 15px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.content{
  width: 100%;
  height:100%;
  background-color: #bce8f1;
  position: absolute;
  bottom: 0;
  top: 50px;
}
.message{
  text-align: center;
}
.form{
  margin: 0px auto;
  text-align: center;
  height:100%;
  width: 300px;
  div {
    float: left;
  }
}
.clear{
  clear: both;
}
.footer{
  min-height: 20px;
  width: 100%;
  background-color: #737373;
  text-align: center;
  position: absolute;
  bottom: 0%;
}