<div>
    <div class="form">
        <div>
            <p class="error">{{$ctrl.error.email}}</p>
        </div>
        <div>
            <label>
                Email
                <input ng-model="$ctrl.data.email" type="text" />
            </label>
        </div>
        <div class="clear"></div>
        <div>
            <p class="error">{{$ctrl.error.password}}</p>
        </div>
        <div>
            <label>
                Password
                <input ng-model="$ctrl.data.password" type="password" />
            </label>
        </div>
        <div class="clear"></div>
        <div>
            <button ng-click="$ctrl.submit()" type="submit">Signin</button>
        </div>
    </div>
</div>