<div class="hall-grid">
    <div ng-style="{height: $ctrl.rowHeight + '%'}" class="row" ng-repeat="row in $ctrl.grid">
        <div ng-style="{width: $ctrl.cellWidth + '%'}" class="cell" ng-repeat="data in row"
             ng-click="$ctrl.onCellClick(data)" ng-class="{active: data.active}">
            <div class="cell-content">
                <div ng-if="$ctrl.showForm">
                    Price:<input ng-model="data.price"/>
                </div>

                <div ng-if="!$ctrl.showForm">
                    <div>{{ data.price }}</div>
                    <div>{{ data.company }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
