.hall-grid {
  width: 100%;
  height: 100%;

  .row {
    &:after {
      clear: both;
      display: block;
      content: '';
    }
  }

  .cell {
    display: table;
    float: left;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #a6e1ec;

    .cell-content {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    &.active {
      background: darkseagreen;
    }

    .input-price {
      margin-top: 20px;
      margin-right: 50px;
      width: 40px;
      height: 10px;
    }
  }
}
