<div class="header">
    <div ng-if="$ctrl.userid <= 0">
        <button class="header-menu right" ng-click="$ctrl.signin()">Sign In</button>
        <button class="header-menu right" ng-click="$ctrl.signup()">Sign Up</button>
    </div>
    <div ng-if="$ctrl.userid > 0">
        <strong>{{$ctrl.name}}</strong>
        <button class="header-menu right" ng-click="$ctrl.signout()">Sign Out</button>
    </div>
    <strong class="header-title">Project</strong>
    <button class="header-menu left" ng-click="$ctrl.home()">Home</button>
</div>